@import '../static/fonts/Spezia/spezia.scss';

/* fonts */
$primary-font-Upright: 'SpeziaCompleteTrial Upright', sans-serif; //100
$primary-font-Italic: 'SpeziaCompleteTrial Italic', sans-serif;
$primary-font-Monospace: 'SpeziaCompleteTrial Monospace', sans-serif; //200

/* variables */
$desktop: 2048px;
$desktop-medium: 1465px;
$desktop-min: 1265px;
$tablet: 1023px;
$mobile: 767px;
$datatable: 600px;
$kettle: 320px;
$main-green: #0EC261;
$main-black: #111111;
$main-blue: #007BFF;
$main-light-blue: #3395ff;
$main-gray: #999999;
$main-dark-gray: #606266;
$main-semilight-gray: #becad6;
$main-white: #fff;
$main-slider-text: #DEDEDE;
$main-border-gray: #E0E0E0;
$main-light-gray: #EEEEEE;
$main-background: linear-gradient(0deg, rgba(10,10,28,1) 0%, rgba(17,17,20,1) 16%, rgba(19,19,19,1) 35%, rgb(22, 22, 22) 58%, rgb(24, 24, 24) 83%, rgba(15,15,15,1) 100%);
$footer-background: linear-gradient(#212121 -2.07%, #020146);
$main-whitesmoke: whitesmoke;
$main-danger: rgba(196, 24, 60, 1);
$main-text-color: rgba(61, 81, 112, 1);
$header-height: 68px;

////////

$bg-newest: linear-gradient(180deg, #FFFFFF 0%, #F5F6FA 98.01%);
$bg-secondary: #f5f6fa;
$primary: #4977ea;
$primary-hover: #3058c1;
$cloudy-blue: #cad4db;
$watermelon: #ff4b5f;
$strawberry: #f02f45;
$red-dark: #F9474E;
$another-red: #f33a45;
$white: #ffffff;
$pale-grey: #f6f8fb;
$grey-blue: #607286;
$semigrey: #333333;
$black: #292929;
$dark: #0e0e0f;
$super-dark: rgba(0, 0, 0, 0.7);
$bluey: #265BCA;
$spun-pearl: #a4a4a7;
$light-grayish-blue: #f1f1f2;
$jumbo: #8d8d8b;
$black-bean: #222322;
$cyanic: #d2d3d3;
$greysmoke: #d2dce3;
$white-smoke: #f8f8f8;
$cloudy-blue-two: #d2dce3;
$slate: #3b495c;
$bluey-grey: #a1afbf;
$bluey-grey-10: rgba(161, 175, 191, 0.1);
$salmon: #ff6b6b;
$weird-green: #4ce2a7;
$charcoal-grey: #3d454e;
$black-two: #333333;
$black-three: #111111;
$cerulean: #008cce;
$pale-grey-two: #f6f7f9;
$marine-30: rgba(10, 44, 87, 0.3);
$cloudy-blue-32: rgba(175, 196, 208, 0.32);
$darkish-blue: #003791;
$sky-blue: #75aaff;
$sky-blue-hover: #1e81ff;
$silver: #bdc3c7;
$silver-hover: #2c3e50;
$tree-green: #2c9e1c;
$tree-green-hover: #2dc46a;
$golden-yellow: #ffc81e;
$golden-yellow-hover: #f8b33b;
$windows-blue: #376cc4;
$lightish-purple: #ab54dd;
$lightish-purple-hover: #7528e4;
$tealish: #2fc1d8;
$tealish-hover: #1e81ff;
$text-secondary: #858a8f;

///// --

$element-primary: $primary;
$element-primary-hover: $primary-hover;
$element-primary-disabled: $pale-grey;
$element-primary-disabled-text: $grey-blue;
$element-secondary: $white;
$element-secondary-disabled: $grey-blue;
$element-secondary-disabled-text: $black;
$element-secondary-disabled-border: $cloudy-blue-two;
$element-alternative: $black;
$element-input-border: #d2dce3;
$element-input-text: $charcoal-grey;
$element-input-label-text: $bluey-grey;
$element-input-label: $grey-blue;
$element-checkbox: #4977EA;
$element-checkbox-border: $cloudy-blue;
$element-checkbox-hover: $watermelon;
$validate-success: $weird-green;
$validate-error-border: $watermelon;
$validate-error-text: #f33a45;